---
import { Image } from "astro:assets";
// Define props from Astro
const { title, testimonials } = Astro.props;


// Define TypeScript interface for Testimonial
interface Testimonial {
  content: string;
  author: string;
  role: string;
  avatarSrc: ImageMetadata;
  avatarAlt: string;
}

// Define TypeScript interface for props
interface Props {
  title: string;
  testimonials: Testimonial[];
}
---
<!-- Main div that wraps the testimonials section -->
<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  id="testimonials"
>
  <!-- Title of the testimonials section -->
  <div class="w-3/4 max-w-2xl mb-2  lg:w-1/2 ">
    <h2
      class="text-balance text-2xl font-bold text-neutral-800 dark:text-neutral-200 sm:text-3xl lg:text-4xl"
    >
      {title}
    </h2>
  </div>



<!-- Testimonials -->
<div class="relative overflow-hidden  ">
  <div class="max-w-[85rem] px-0 py-6 sm:px-6 lg:px-0 lg:py-10 mx-auto">

    <!-- Grid -->
    <div class="">
      {
        testimonials.map((testimonial) => (

        <div class=" dark:bg-neutral-500/30 dark:border-none border bg-gray-100 border-gray-200 mb-3 p-2 rounded-lg lg:grid lg:grid-cols-6 lg:gap-8 lg:items-center">
          <div class="hidden lg:block lg:col-span-2  ">
        <Image class="rounded-xl" src={testimonial.avatarSrc} alt="avatar" />
       
      </div>
    
      <!-- End Col -->

      <div class="lg:col-span-4">
        <!-- Blockquote -->

        <blockquote>

          <p
      class="mb-8 max-w-prose text-pretty font-light text-neutral-600 dark:text-neutral-400 sm:text-xl"
    >
      {testimonial.content}
    </p>
        
          <footer class="mt-6">
            <div class="flex items-center">
              <div class="lg:hidden shrink-0">
                <Image class="size-16 rounded-full" src={testimonial.avatarSrc} alt="Avatar">
              </div>
              <div class="ms-4 lg:ms-0">
                <p class="font-light text-neutral-600 dark:text-neutral-400">
                  {testimonial.author}
                </p>
                <p class="text-sm font-light text-neutral-600 dark:text-neutral-400">
                  {testimonial.role}
                </p>
              </div>
            </div>
          </footer>
        </blockquote>
       
        <!-- End Blockquote -->
      </div>
    
    
      <!-- End Col -->
    </div>
        </div>

      
    ))}
    
    <!-- End Grid -->
  </div>
 

</div>

</section>
<!-- End Testimonials -->