---
import MainLayout from "@/layouts/MainLayout.astro";
import Asolare from "@images/customers/asolare.jpg";
import Cinquanta from "@images/customers/cinquanta.jpg";
import Dimitra from "@images/customers/dimitra.jpg";
import Genesia from "@images/customers/genesia.jpg";
import Margaret from "@images/customers/margaret-Ann.jpg";
import Modus from "@images/customers/modus.jpg";
import Nechida from "@images/customers/nechida.jpeg";
import Ravenger from "@images/customers/ravenger.jpg";
import Supernova from "@images/customers/supernova.jpg";
import Taipan from "@images/customers/taipan.png";
import Slow from "@images/customers/slow-motion.jpg";
import CardInfo from "@/components/card/CardInfo.astro";
import Modal from "@/components/modal/Modal.astro";

type Yatch = {
  image: ImageMetadata;
  name: string;
  info: string;
};

const yachtsFr: Yatch[] = [
  { image: Slow, name: "Slow", info: "Naviguer dans le luxe : voilà comment vivre à bord." },
  { image: Taipan, name: "Taipan", info: "La mer n'a jamais eu meilleure compagnie." },
  { image: Supernova, name: "Supernova", info: "Où les rêves trouvent leur port." },
  { image: Ravenger, name: "Ravenger SY", info: "L'élégance sur chaque vague." },
  { image: Nechida, name: "Nechida", info: "La vie est meilleure en haute mer." },
  { image: Modus, name: "Modus", info: "Des paradis flottants à portée de main." },
  { image: Margaret, name: "Margaret Ann", info: "Laissez l'océan raconter votre histoire." },
  { image: Genesia, name: "Genesia", info: "Quand le luxe rencontre l'horizon." },
  { image: Dimitra, name: "Dimitra", info: "Votre refuge d'opulence sur les vagues." },
  { image: Cinquanta, name: "Cinquanta", info: "Parce que vous méritez le meilleur, même en mer." },
  { image: Asolare, name: "Asolare", info: "L'aventure commence ici, sur notre méga-yacht." },
];

let selectedYacht: Yatch | null = null;
let isModalOpen = false;

const openModal = (yacht: Yatch) => {
  selectedYacht = yacht;
  isModalOpen = true;
};

const closeModal = () => {
  isModalOpen = false;
  selectedYacht = null;
};
---

<MainLayout>
  <div class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
    <div class="mx-auto mb-10 max-w-2xl text-center lg:mb-14">
      <h2 class="text-2xl font-bold dark:text-white md:text-4xl md:leading-tight">
        Nos clients
      </h2>
      <p class="mt-1 text-gray-600 dark:text-neutral-400">
        Nous aidons nos clients à trouver leur emploi de rêve
      </p>
    </div>

    <div class="mb-10 grid gap-6 sm:grid-cols-2 lg:mb-14 lg:grid-cols-4">
      {yachtsFr.map((yacht, id) => (
        <CardInfo 
          key={id}
          image={yacht.image} 
          name={yacht.name} 
          info={yacht.info}
          onClick={() => openModal(yacht)}
        />
      ))}
    </div>
    <Modal 
      isOpen={isModalOpen} 
      onClose={closeModal} 
      yacht={selectedYacht}
    />
  </div>
</MainLayout>;
