---
// Importation des composants nécessaires
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";

import faqs from "@/data_files/faqs_fr.json";
import pricing from "@/data_files/pricing_fr.json";
import heroImage from "@images/logo-1.webp";

import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import Temario from "../fr/temario/index.astro";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout lang="fr">
  <HeroSection
    title={`Transformez Votre Carrière avec Notre Cours Exclusif sur <span class="text-yellow-500 dark:text-yellow-400">Mega Yachts!</span>`}
    subTitle="Vous rêvez de gagner plus de 3000€ par mois en travaillant sur des méga yachts ? Rejoignez notre cours dispensé par un ingénieur expert en méga yachts et découvrez comment vous pouvez atteindre vos objectifs professionnels dans cette industrie passionnante."
    primaryBtn="Contenu"
    primaryBtnURL="/content"
    secondaryBtn="Inscrivez-vous maintenant"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating={`<span class="font-bold">4.8</span> / 5`}
    starCount={4}
    reviews={`De plus de <span class="font-bold">12.8k</span> avis`}
    src={heroImage}
    alt="Capitanbrush"
  />
  
  <Temario />

  <PricingSection pricing={pricing} />

  <FAQ title={`Questions<br />Fréquemment Posées`} faqs={faqs} />

  <HeroSectionAlt
    title="Ne Manquez Pas Cette Opportunité!"
    subTitle="Le cours coûte 150€, incluant tous les matériaux d'étude et l'accès à des ressources exclusives. Places limitées !"
    url="/contact"
  />
</MainLayout>
