---
// Importa los componentes necesarios
import MainLayout from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";
import CaptBrushRRSS from "../images/capitan-brush-RRSS.jpeg";
import { SITE } from "@data/constants";

// Define el título de la página
const pageTitle: string = `Sobre mí | ${SITE.title}`;

// Utilizando MainLayout para el diseño exterior de la página, y definiendo meta para propósitos de SEO
---

<MainLayout
  lang="es"
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://capitanbrush.es/contact",
    url: "https://capitanbrush.es/contact",
    name: "Contáctanos | Capitanbrush",
    description:
      "¿Tienes preguntas sobre el curso? titulación trabajar mega yate. Curso mega yates. garatía curso mega yate. horas de trabajo mega yate",
    isPartOf: {
      "@type": "WebSite",
      url: "https://capitanbrush.es",
      name: "Capitanbrush",
      description:
        "Capitanbrush ofrece un curso completo de cómo trabajar en la industria de los mega yates.",
    },
    inLanguage: "es",
  }}
>
  <!-- Testimonials -->
  <div class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
    <!-- Grid -->
    <div class="md:grid md:grid-cols-2 md:items-center md:gap-10 lg:gap-16">
      <div>
        <!-- Blockquote -->
        <blockquote class="relative">

          <div class="relative z-10">
            <p
              class="text-xl text-justify font-medium italic text-gray-800 dark:text-neutral-200 md:text-2xl md:leading-normal xl:text-3xl xl:leading-normal"
            >
              Hola a todos, soy Capitán Brush, el instructor principal de este
              curso de mega yates. Mi vida ha sido una travesía llena de
              aventuras, desafíos y grandes satisfacciones. Si has llegado hasta
              aquí, probablemente compartimos la misma pasión por el mar y los
              mega yates. ¡Permíteme contarte un poco sobre mi viaje y cómo
              llegué a donde estoy hoy!
            </p>
          </div>

          <footer class="mt-6">
            <div class="flex items-center">
              <div class="shrink-0 md:hidden">
                <Image class="size-16 rounded-full" src={CaptBrushRRSS} alt="Captbrush" />
              </div>
              <div class="ms-4 md:ms-0">
                <div
                  class="text-base font-semibold text-gray-800 dark:text-neutral-200"
                >
                  Capitán Brush
                </div>
                <div class="text-xs text-gray-500 dark:text-neutral-400">
                  Director del curso Mega Yates
                </div>
              </div>
            </div>
          </footer>
        </blockquote>
        <!-- End Blockquote -->
      </div>
      <!-- End Col -->
      <div class="mb-24 hidden sm:px-6 md:mb-0 md:block">
        <div class="relative">
          <Image class="rounded-xl" src={CaptBrushRRSS} alt="Captbrush" />
          <!--<img class="rounded-xl" src={CaptBrushRRSS.src} alt="Captbrush"> -->

          <!-- SVG Element -->
          <div
            class="absolute bottom-0 start-0 -z-[1] -translate-x-14 translate-y-10"
          >
            <svg
              class="h-auto max-w-40 text-gray-400 dark:text-neutral-700"
              width="696"
              height="653"
              viewBox="0 0 696 653"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="72.5" cy="29.5" r="29.5" fill="currentColor"></circle>
              <circle cx="171.5" cy="29.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="270.5" cy="29.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="369.5" cy="29.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="468.5" cy="29.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="567.5" cy="29.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="666.5" cy="29.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="29.5" cy="128.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="128.5" cy="128.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="227.5" cy="128.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="326.5" cy="128.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="425.5" cy="128.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="524.5" cy="128.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="623.5" cy="128.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="72.5" cy="227.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="171.5" cy="227.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="270.5" cy="227.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="369.5" cy="227.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="468.5" cy="227.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="567.5" cy="227.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="666.5" cy="227.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="29.5" cy="326.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="128.5" cy="326.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="227.5" cy="326.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="326.5" cy="326.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="425.5" cy="326.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="524.5" cy="326.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="623.5" cy="326.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="72.5" cy="425.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="171.5" cy="425.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="270.5" cy="425.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="369.5" cy="425.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="468.5" cy="425.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="567.5" cy="425.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="666.5" cy="425.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="29.5" cy="524.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="128.5" cy="524.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="227.5" cy="524.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="326.5" cy="524.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="425.5" cy="524.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="524.5" cy="524.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="623.5" cy="524.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="72.5" cy="623.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="171.5" cy="623.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="270.5" cy="623.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="369.5" cy="623.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="468.5" cy="623.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="567.5" cy="623.5" r="29.5" fill="currentColor"
              ></circle>
              <circle cx="666.5" cy="623.5" r="29.5" fill="currentColor"
              ></circle>
            </svg>
          </div>
          <!-- End SVG Element -->
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Testimonials -->

  <div>
    <h3
      class="text-xl font-bold text-neutral-800 dark:text-neutral-200 md:text-2xl md:leading-tight"
    >
      De Ingeniero a Capitán de Mega Mates
    </h3>
    <div>
      <article>
        <p class="text-xl  text-justify font-medium italic text-gray-800 dark:text-neutral-200 md:text-xl md:leading-normal xl:text-xl xl:leading-normal">
          Todo comenzó con una exitosa carrera en ingeniería. Trabajé duro, me
          esforcé al máximo y, sí, lo admito, logré forrarme trabajando en la
          industria de los mega yates y super yates. Durante años, diseñé y
          mantuve algunas de las embarcaciones más lujosas y tecnológicamente
          avanzadas que surcan los océanos. ¿Y qué hice con todo ese éxito? ¡Lo
          dejé todo para cruzar el Atlántico a vela!
        </p>
      </article>
    </div>
  </div>
  <br>
  <div>
    <h3
      class="text-xl font-bold text-neutral-800 dark:text-neutral-200 md:text-2xl md:leading-tight"
    >
      Cruzando el Atlántico y Redescubriendo mi Pasión
    </h3>
    <article>
      <p class="text-xl text-justify font-medium italic text-gray-800 dark:text-neutral-200 md:text-xl md:leading-normal xl:text-xl xl:leading-normal">
        Decidí que la vida detrás de un escritorio no era para mí. Compré un
        velero y crucé el Atlántico, una experiencia que cambió mi vida para
        siempre. Esa travesía no solo me acercó al mar, sino que también me
        llevó a redescubrir una de mis mayores pasiones: la pintura. Ahora,
        cuando no estoy navegando, me dedico a capturar la belleza del océano en
        mis lienzos.
      </p>
    </article>
  </div>
  <br>
  <div>
    <h3
      class="text-xl font-bold text-neutral-800 dark:text-neutral-200 md:text-2xl md:leading-tight"
    >
      Enseñando y Navegando
    </h3>
    <article>
      <p class="text-xl text-justify font-medium italic text-gray-800 dark:text-neutral-200 md:text-xl md:leading-normal xl:text-xl xl:leading-normal">
        Convertirme en capitán fue otro hito importante. Obtuve mi certificación
        y comencé a enseñar a otros a navegar. Compartir mis conocimientos y
        experiencias con nuevos navegantes es una de las cosas que más disfruto.
        Desde las complejidades del motor de un barco hasta la lectura del cielo
        y las nubes, me encanta ayudar a otros a explorar y dominar el arte de
        la navegación.
      </p>
    </article>
  </div>
  <br>
  <div>
    <h3
      class="text-xl font-bold text-neutral-800 dark:text-neutral-200 md:text-2xl md:leading-tight"
    >
      Instructor del Curso de Mega Yates
    </h3>
    <article>
      <p class="text-xl text-justify font-medium italic text-gray-800 dark:text-neutral-200 md:text-xl md:leading-normal xl:text-xl xl:leading-normal">
        Con todo el conocimiento y la experiencia que he acumulado a lo largo de
        los años, he decidido impartir este curso de mega yates para compartir
        mi pasión y ayudar a otros a alcanzar sus sueños en el mar. En este
        curso, aprenderás desde las bases hasta los detalles más avanzados de
        trabajar en mega yates y super yates. Mi objetivo es proporcionarte las
        habilidades y el conocimiento necesarios para triunfar en esta
        emocionante industria.
      </p>
    </article>
  </div>
  <br>
  <div>
    <h3
      class="text-xl font-bold text-neutral-800 dark:text-neutral-200 md:text-2xl md:leading-tight"
    >
      La Libertad Financiera y una Vida Plena
    </h3>
    <article>
      <p class="text-xl text-justify font-medium italic text-gray-800 dark:text-neutral-200 md:text-xl md:leading-normal xl:text-xl xl:leading-normal">
        Gracias a mi éxito como ingeniero de mega yates, he logrado alcanzar la
        libertad financiera. Ahora vivo en una hermosa finca llena de frutas
        tropicales, donde puedo dedicarme a mis pasiones: pintar, practicar
        artes marciales, hacer kitesurf y, por supuesto, viajar. Cada día es una
        nueva aventura, ya sea en tierra o en el mar.
      </p>
    </article>
  </div>
  <br>
  <div>
    <h3
      class="text-xl font-bold text-neutral-800 dark:text-neutral-200 md:text-2xl md:leading-tight"
    >
      Únete a la Aventura
    </h3>
    <article>
      <p class="text-xl text-justify font-medium italic text-gray-800 dark:text-neutral-200 md:text-xl md:leading-normal xl:text-xl xl:leading-normal">
        Si estás interesado en trabajar en mega yates o super yates, o
        simplemente quieres aprender más sobre la vida en el mar, estás en el
        lugar correcto. Mi objetivo es compartir mis experiencias y
        conocimientos con aquellos que comparten mi pasión por el mar. Ya sea
        que estés buscando un cambio de carrera, una nueva aventura, o
        simplemente inspiración, espero que mi historia te motive a seguir tus
        sueños.
      </p>
    </article>
  </div>
<br>
  <div>
    <article>
      <p class="text-xl font-medium italic text-gray-800 dark:text-neutral-200 md:text-xl md:leading-normal xl:text-xl xl:leading-normal">
        ¡Gracias por unirte a nuestro curso y espero verte en el mar!
        Saludos marineros,
        
      </p>
    </article>
    <br>
    <h3
      class="text-xl font-bold text-neutral-800 dark:text-neutral-200 md:text-2xl md:leading-tight"
    >
    Capitán Brush
    </h3>
  </div>

</MainLayout>
