---
// Importa los componentes necesarios
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import faqs from "@data/faqs.json";
import pricing from "@data/pricing.json";
import heroImage from "@images/logo-1.webp";
import tools from "@images/ref-Alberto-1.webp";
import dashboard from "@images/ref-Sara-1.webp";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout lang="es">
  <HeroSection
    title={`Únete a nuestro exclusivo curso sobre <span class="text-yellow-500 dark:text-yellow-400">Mega Yates!</span>`}
    subTitle="Aprende de un ingeniero experimentado en mega yates y obtén una profunda comprensión de la industria."
    primaryBtn="Contenido"
    primaryBtnURL="/services"
    secondaryBtn="Inscríbete ahora"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating={`<span class="font-bold">4.8</span> / 5`}
    starCount={4}
    reviews={`De más de <span class="font-bold">12.8k</span> opiniones`}
    src={heroImage}
    alt="Pila de cajas de productos Capitanbrush que contienen herramientas variadas"
  />

  <FeaturesNavs
    title={`Personaliza las ofertas de <span class="text-yellow-500 dark:text-yellow-400">Capitanbrush</span> para adaptarse perfectamente a tus necesidades de hardware y construcción.`}
    tabs={[
      {
        heading: "Herramientas de Última Generación",
        content:
          "Potencia tus proyectos con las herramientas de última generación de Capitanbrush. Experimenta una eficiencia mejorada en la gestión de construcción con nuestras soluciones automatizadas sofisticadas.",
        svg: "tools",
        src: tools,
        alt: "Equipo pesado amarillo y negro en un campo de césped marrón",
        first: true,
      },
      {
        heading: "Paneles Intuitivos",
        content:
          "Navega con facilidad utilizando los paneles intuitivos de Capitanbrush. Configura y supervisa tus proyectos de manera fluida, con interfaces fáciles de usar diseñadas para una gestión de flujo de trabajo rápida y efectiva.",
        svg: "dashboard",
        src: dashboard,
        alt: "Una captura de pantalla o representación gráfica del panel intuitivo",
        second: true,
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title={`Preguntas<br />frecuentes`} faqs={faqs} />

  <HeroSectionAlt
    title="¡No te pierdas esta oportunidad única!"
    subTitle="Recibirás acceso a materiales de estudio, guías paso a paso, enlaces a recursos importantes y ejemplos prácticos."
    url="/contacto"
  />
</MainLayout>
